# Prerequisites
*.d


# Visual Studio Project files
*.suo
*.log
*.tlog
*.pdb
*.user
*.idb
*.db
*.opendb
*.sdf
*.ilk
*.ipch

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
server/.vs/server/v15/Solution.VC.db-shm
server/.vs/server/v15/Solution.VC.db-wal
