# Prerequisites
*.d


# Visual Studio Project files
*.suo
*.log
*.tlog
*.pdb
*.user
*.idb
*.db
*.opendb
*.sdf
*.ilk
*.ipch
*.vcxproj
*.filters
*.vs
*.sln

# CMake files
CMakeFiles
*.cmake
CMakeCache.txt
Makefile

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
server/bin/linux/game
server/bin/linux/gate
server/bin/linux/client

# Other
*.bin
